body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-image: url('../public/bground.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.login-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  /* Add space between text boxes */
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.employee-details {
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.employee-details h2 {
  text-align: center;
  margin-bottom: 20px;
}

.employee-details table {
  width: 100%;
  border-collapse: collapse;
}

.employee-details th, .employee-details td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.employee-details th {
  background-color: #f2f2f2;
}

.employee-details tr:hover {
  background-color: #f5f5f5;
}

.admin-dashboard {
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.admin-dashboard h2 {
  text-align: center;
  margin-bottom: 20px;
}

.admin-dashboard form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-dashboard input {
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.admin-dashboard button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.employee-cards {
  margin: 20px;
  padding: 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.employee-card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
}

.create-employee-button {
  margin-right: 10px;
}

.view-employees-button {
  margin-top: 20px; 
}
